<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
			<img src="" alt="">
			<span class="fs-4">Garage V.PARROT</span>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="{{path('app_home')}}" class="nav-link active" aria-current="page">Home</a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_product')}}" class="nav-link">Voitures</a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_contact')}}" class="nav-link">Nous Contacter</a>
			</li>
			<li class="nav-item">
				<a href="login" class="nav-link">Login</a>
			</li>
			{% if (is_granted("ROLE_ADMIN")) %}
				<li class="nav-link">
					<a href="/admin" class="dropdown-item">Accéder au backoffice</a>
				</li>
			{% endif %}
		</ul>
	</header>
</div>
{% for label, messages in app.flashes %}
	<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
