{% extends 'base.html.twig' %}

{% block title %}Nos voitures - V. PARROT
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% for product in products %}
				<div class="col-4 ">

					<div class="card " style="">

						<img src="/assets/{{product.id}}/{{product.id}}.jpg" class="card-img" alt="une photo d'une voiture">
						<div class="p-4">
							<h5 class="card-title">{{ product.titre }}</h5>
							<p class="card-text">{{ product.description }}</p>
							{# <button type="button" class="btn btn-primary">Selectionner</button> #}
							<a href="/product/{{product.id}}" class="btn btn-primary">Selectionner</a>
							<p class="card-text">

								<small>Kilometrage
									{{ product.km }}</small>
							</p>
						</div>
					</div>

				</div>

		{% else %}
			No products have been found.
		{% endfor %}
			</div>


	</div>

{% endblock %}
